<!-- divider component  -->
<app-divider> Placehoder Component </app-divider>

<!-- placeholder component  -->
<app-placeholder [header]="true" [lines]="7"></app-placeholder>

<!-- divider component  -->
<app-divider> Segment Component </app-divider>

<!-- segment component  -->
<app-segment>
  <header>
    <i class="pdf file outline icon"></i>
    No documents are listed for this customer.
  </header>
  <div class="ui primary button">Add Document</div>
</app-segment>
<!-- segment component  -->

<app-segment>
  <header>
    <i class="add icon"></i>
    Add source
  </header>
  <div class="ui primary button">Add Source</div>
</app-segment>
